body{
background-color: rgb(181, 245, 253);
margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;

}
h1{
    text-align:center

}
.navbar ul{

    list-style-type: none;
    background-color: rgb(144, 242, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{

    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;


}

.navbar a:hover{
    background-color: rgb(98, 237, 255);
}
.navbar li{
    float: left;

}